* {
    margin: 0;
    padding: 0;
} 

html {
    font-family: 'Nunito', sans-serif;
    font-size: calc(.2vw + .8vh);
    background-color: #FDFDFB;
    color: #090B0B;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

button {
    background: transparent;
    height: min-content;
    border: none;
    font-family: 'Nunito', sans-serif;
    font-size: 1.3em;
    padding-bottom: .3em;
    font-weight: bold;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 10px;
  }
  

  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  
  ::-webkit-scrollbar-thumb {
      background:  #7A95D1
    }
    
    
    ::-webkit-scrollbar-thumb:hover {
      background: #0033AD;
  }

body {
    display: flex;
    width: 100%;   
    justify-content: center; 
}

.main_container{
    display: flex;
    flex-direction: column;
    margin: 0;
    width:80vw;
    max-width: 1200px;

}
.nav_bar {
    display: grid;
    grid-template-columns: 2vw 20vw 45vw 30vw 3vw;
    overflow: hidden;
    width: 100vw;
    height: 6vh;
    align-items: center;
    background-color: #FDFDFB;
    position:fixed;
    top: 0;
    left: 0;
    z-index: 2;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
}

@media only screen and (max-width: 1200px) {

    .nav_bar {
        grid-template-columns: 3vw 10vw 15vw 65vw 2vw;
        padding: 2em 0px 0em 0px;
    }

}


.logo {
    grid-column: 2;
    height: auto;
    width: 20vw;
    max-width: 12em;
    margin-bottom: .5em;
}

.nav_buttons {  
   grid-column: 4;
   display: flex;
   justify-content: space-around;   
   z-index: 4;
}

 
.nav_buttons > button  {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

.nav_buttons > button:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #0033AD;
    height: 2px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.nav_buttons > button:hover:before, .nav_buttons > button:focus:before, .nav_buttons > button:active:before {
    left: 0;
    right: 0;
}



.home {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
   position: relative;   
    scroll-snap-align: center;
    scroll-snap-stop: normal;
}

.home_container {
    display: flex;
    flex-direction: column;
    height: 70vh;
    justify-content: space-around;

}


.home_top {
   width: 100%;
   color: rgb(0, 0, 0);
   text-decoration:solid;
   margin-top: 10vh;
}

.home_top > h1 {
    text-transform: uppercase;
    font-size: 2.4em;
}



.pre-reg {
    font-size: 1.2em;
    font-family: inherit;
    text-align: center;
}

.signup {
    width: 100%;
    height: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}



.email_input {
    padding: .4em 2em;
    border-radius: 10px 10px;
    border: none;
}

.email_input:focus {
    outline: none;
}

.green {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 10vh;
}

.green > img {
    width: 80%;
}


.roadmap{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    scroll-snap-align: center;
    scroll-snap-stop: normal;
}

.roadmap_container {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns:  1fr .5fr .5fr 1fr;
    row-gap: 0;
    column-gap: 4em;
    height: 80vh;
    justify-items: center;
    margin-top: 2em;

}



.roadmap > h1 {
    margin-top: 8vh;
    text-align: center;    
}

.chessboard_container {
    height: calc(30vh + 10.8vw);
    width: calc(30vh + 10.8vw);
    background-image: url(source/Chess_Board.png);
    grid-row: 1/3;
    grid-column: 1/5;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8,1fr);
    justify-items: center;
    align-items: center;
    margin-top: 3vh;
    margin-bottom: 5vh;
}

.roadmapinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 60%;
    line-height: 1.4em;
}

.roadmapinfo:nth-of-type(1) {
    grid-row: 3;
    grid-column: 1/3;     
    animation: slidein_down 1s ease 0s 1 normal forwards;
    text-align: center;
}

.roadmapinfo:nth-of-type(2) {
    grid-row: 3;
    grid-column: 3/5;
    animation: slidein_down 1s ease 0s 1 normal forwards;
    text-align: center;
}

.roadmapinfo:nth-of-type(3) {
    grid-row: 4;
    grid-column: 1;
    animation: slidein_down 1s ease 0s 1 normal forwards;
    text-align: center;
}

.roadmapinfo:nth-of-type(4) {
    grid-row: 4;
    grid-column: 2/4;
    animation: slidein_down 1s ease 0s 1 normal forwards;
    text-align: center;
}

.roadmapinfo:nth-of-type(5) {
    grid-row: 4;
    grid-column: 4;
    animation: slidein_down 1s ease 0s 1 normal forwards;
    text-align: center;
}



.roadmapinfo > img {
    max-width: 1.7em;
    max-height: 1.7em;
}


  @keyframes slidein_down {
    0% {
      opacity: 0;
      transform: translateY(-250px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }


.nft{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;  
    scroll-snap-align: center;
    scroll-snap-stop: normal;
}

.nft_container {
    height: 75vh;
    width: 100%;
    margin: 2em, 5%;
    display: grid;
    grid-template-columns: .5fr 1fr 1fr 1fr 1fr 1fr .5fr;
    grid-template-rows: .3fr .6fr .6fr 1.2fr 1fr .4fr ;
    justify-items: center;
    align-items: center;
    text-align: center;

}

.nft_container > h1 {
    grid-column: 1/8;
}

.nft_about {
    grid-column: 1/8;
    grid-row: 2;
    font-size: 1.2em;
}

.nft_about2 {
    grid-column: 2/7;
    grid-row: 3;
    
}

.whales {
    grid-column: 1/8;
    grid-row: 5;
    font-style: 1.2em;
}


.nft_examples {
    grid-column: 1/8;
    grid-row: 4;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nft_disclaimer {
    grid-column: 3/6;
    grid-row: 6;
    font-size: .8em;
}



.hover-img {
    background-color: #000;
    border: 1px solid white;
    margin: .2em;
    color: #fff;
    display: inline-block;

    max-width: calc(60vw + 8vh);
    max-height: calc(60vw + 8vh);
    overflow: hidden;
    position: relative;
    text-align: center;

  }
  
  .hover-img * {
    box-sizing: border-box;
    transition: all 0.45s ease;
  }
  
  .hover-img:before,
  .hover-img:after {
    background-color: rgba(0, 0, 0, 0.356);
    border-top: 32px solid rgba(0, 0, 0, 0.5);
    border-bottom: 32px solid rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    transition: all 0.3s ease;
    z-index: 1;
    opacity: 0;
    transform: scaleY(2);
  }
  
  .hover-img img {
    vertical-align: top;
    max-width: 100%;
    backface-visibility: hidden;

}
  
  .hover-img figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.4em;
    opacity: 0;
    z-index: 2;
    transition-delay: 0.2s;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  .hover-img:hover:before,
  .hover-img:hover:after {
    transform: scale(1);
    opacity: 1;
  }
  
  .hover-img:hover > img {
    opacity: 0.7;
  }
  
  .hover-img:hover figcaption {
    opacity: 1;
  }



  .moreinfo {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
    scroll-snap-stop: normal;
  }

  .overlay_container {
    display: flex;
    flex-direction: column;
    height: 75vh;
    position: relative;
  }  

  .active {
    background-color: #B7C6E3;
    background-blend-mode:soft-light;
    padding: 1px;
    border-radius: 10px 10px;
  }

  .moreinfo_container {
    display: flex;
    flex-direction: column;
}

.moreinfo_title > h1 {
    margin-bottom: 2vh;
}

 .moreinfo_buttons {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-evenly;
     align-items: center;
     height: 6vh;
     width: 90vw;
     max-width: 1200px;
     margin-top: 6vh;
     background-color: #0034ad6b;
     border-radius: 10px 10px;
 }

 .moreinfo_buttons > button {
     margin: 0 0 2vh 0;
     width: 20%;
     height: 100%;
     padding: 5px
 }

  
  .moreinfo_title {
      text-align: center;
      line-height: 2;
  }

  .overlay_info {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

  .overlay {
      position: absolute;
      bottom: 0;
      height: 60%;
      background-color: #ECF0F5;
      background-blend-mode:soft-light;
      font-size: 1.4em;
      font-weight: bold;
      line-height: 1.52;
      padding: 20px 40px;
      border-radius: 10px 10px;
      opacity: 0;    
      animation: fadeIn 3s;
      animation-delay: 0s;
      animation-fill-mode: forwards;
      width: 70%;
      text-align: center;
      display: flex;
      justify-content: center;
      flex-direction: column;
  }

  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}


.jump_up {
    animation: slide-up .3s ease-in-out both;
}

.jump_down {
    animation: slide-down .3s ease-in-out both;
}

.jump_side {
    animation: slide-sideways-up .3s ease-in-out both;
}

.jump_side_down {
    animation: slide-sideways-down .3s ease-in-out both;
}

.jump_left_down {
    animation: sideways-left-down .3s ease-in-out both;
}

.exit {
    animation: exit 1s ease 0s 1 normal forwards;
}

@keyframes slide-up {
    0% {
        transform: translateY(0) ;
    }

    80% {
        transform: translateY(-4.875em)scale3d(.9, 1.2, 0) ;
    }

    100% {
        transform:translateY(-.375em)
    }
}



@keyframes slide-down {
    0% {
        transform: translateY(0);
    }

    80% {
        transform: translateY(4.875em) scale3d(.9, 1.2, 0);
        
    }

    100% {
        transform:translateY(.375em)
    }
}

@keyframes slide-sideways-up {
    0% {
        transform: translate(0,0);
    }

    80% {
        transform: translate(4.875em, -4.875em) scale3d(.9, 1.2, 0);
    }

    100% {
        transform: translate(4.375em,-4.375em );
    }
}

@keyframes slide-sideways-down {
    0% {
        transform: translate(0,0);
    }

    80% {
        transform: translate(4.875em,4.875em ) scale3d(.9, 1.2, 0);
    }

    100% {
        transform: translate(.375em,.375em);
    }
}

@keyframes sideways-left-down {
    0% {
        transform: translate(0,0);
    }

    80% {
        transform: translate(4.875em,-4.875em ) scale3d(.9, 1.2, 0);
    }

    100% {
        transform: translate(.375em,-.375em);
    }
}

@keyframes exit {
    0% {
      opacity: 1;
      transform: translateX(0) rotate(0deg);
    }
  
    100% {
      opacity: 0;
      transform: translateX(-250px) rotate(-200deg);
    }
  }